DB_NAME="Links"
DB_USER="postgres"
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_ECHO=True

SECRET_KEY=


# Email настройки (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USERNAME= 
EMAIL_PASSWORD=


ACCESS_TOKEN_EXPIRE=3600


REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
FRONTEND_URL=http://127.0.0.1:8001/api/v1